.container.mt-5.d-flex.justify-content-center
  .row{ style: "max-width: 600px "}
    .col.p-0
      .top_img
        = image_tag "top.jpg", alt: "アーティスト画像", class: "img-fluid", style: "max-width:600px;" 
  
    %span.p-0.text-end.small{ style: "color: #e2e2e2;"} photo by yuki sato
    
